
@font-face {
    font-family: 'doto';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/doto.woff2');
}
@font-face {
    font-family: 'redhatmono';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/redhatmono.woff2');
}
@font-face {
    font-family: 'courier';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/courier.woff2');
}
@font-face {
    font-family: 'courier';
    font-weight: normal;
    font-style: italic;
    src: url('fonts/courieritalic.woff2');
}
@font-face {
    font-family: 'courier';
    font-weight: bold;
    font-style: normal;
    src: url('fonts/courierbold.woff2');
}
@font-face {
    font-family: 'courier';
    font-weight: bold;
    font-style: italic;
    src: url('fonts/courierbolditalic.woff2');
}
@font-face {
    font-family: 'redhatmono';
    font-weight: normal;
    font-style: italic;
    src: url('fonts/redhatmono_italic.woff2');
}
html {
            scroll-behavior: smooth;
}
a {
            font-family: "doto";
}
a:link { 
            text-decoration: none;
            font-family: 'doto';
}
a:visited { 
            text-decoration: none; 
            font-family: 'doto';
}
a:hover { 
            text-decoration: underline;
    
}
a:active { 
            text-decoration: underline;
}
h1 {
    font-family: doto, monospace;
}
